<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MoviesApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomSplashScreenTheme"
        tools:targetApi="31">
        <activity
            android:name=".ui.accountsetup.AccountSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MoviesApp"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MoviesApp"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomSplashScreenTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomSplashScreenTheme"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".ui.home.UpcomingMoviesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MoviesApp"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.NotificationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MoviesApp"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.NewReleasesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MoviesApp"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.play.PlayActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MoviesApp"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>